<div data-role="header">
  <h1>My Pins</h1>
  <%= link_to 'New Pin', new_pin_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @pins.each do |pin| %>
      <li><%= link_to "#{pin.latitude}, #{pin.longitude}", pin %></li>
    <% end %>
  </ul>
</div>
<br />

