<div data-role="header" data-theme="b" id="page_header">
  <%= link_to "Sign out", "/sessions/destroy", method: :delete %>
  <h1>My Locations</h1>
  <a id="userloc" class="crosshair" href="#" style="height:30px;"></a>
</div>

<div data-role="content" data-theme="b">
  <%= render "search_form" %>
  <%= render "loc_form" %>
  <h1 style="text-align: center;" class="onimage">History</h1>
  <% if @pins.empty? %>
    <% if session[:user_id] %>
      <p class="onimage">You don't have a history! Make your first search above or press the button in the top right to go to your current location.</p>
    <% else %>
      <p class="onimage"> You are not logged in, so we unfortunately cannot store your history. Please make an account or sign in!</p>
    <% end %>
  <% else %>
    <ul data-role="listview" data-inset="true" data-theme="b">
      <% @pins.each do |pin| %>
        <li><%= link_to pin.name, pin %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<br/>
