<div data-role="header">
  <h1>Gusto</h1>
</div data-role="header">

<div data-role="content">
  <p>Here is where all of the description text is going to go. Basically, Gusto's a boss app for figuring out wind speeds effectively.</p>
  <%= link_to "Sign Up!", "users/new", "data-role" => "button" %>
  <%= link_to "Sign In!", "sessions/new", "data-role" => "button" %>
</div>
