<div data-role="header">
  <h1>Gusto</h1>
</div data-role="header">

<div data-role="content">
  <p>Gusto is an application for finding wind speeds in your current and remote locations very quickly and accurately. Designed for Stanford's Introduction to Human Computer Interaction class, the user interface of Gusto is as quick and accessible as possible.</p>
  <%= link_to "Sign Up!", "users/new", "data-role" => "button" %>
  <%= link_to "Sign In!", "sessions/new", "data-role" => "button" %>
</div>
