<div data-role="header">
  <%= link_to 'Back', users_path, "data-icon" => "home", html: { "autocapitalize" => "off"} %>
  <h1>New user</h1>
</div>


<div data-role="content">
  <%= render 'form' %>
</div>
